/*----------------------------------------------------------------------------------------
  Flip CSS  h
  https://davidwalsh.name/css-flip
----------------------------------------------------------------------------------------*/
/* entire container, keeps perspective */
.flip-container {
	  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
}

.flip-container, .front, .back {
	  width: 100px;
	  height: 320px;
}

/* flip speed goes here */
.flipper {
	  transition: 0.6s;
	  transform-style: preserve-3d;
	  position: relative;
}

/* hide back of pane during swap */
.front, .back {
	  backface-visibility: hidden;
	  position: absolute;
	  top: 0;
	  left: 0;
    text-align: center;
    border-style: solid;
    border-color: black;
}

/* front pane, placed above back */
.front {
	  z-index: 2;
	  /* for firefox 31 */
	  transform: rotateY(0deg);
    background: gray;
}

.back {
    background: darkgray;
	  transform: rotateY(180deg);
}
